body{
    background-color: rgb(241, 246, 250);
}
.body{
    margin-right: auto;
    margin-left: auto;
}
.btn {
    display: inline-block; 
    padding: 9px 22px; 
    color: #063f81;
    font-family: system-ui, sans-serif; 
    cursor: pointer; 
    text-decoration: none;
    font-size: 15px;
}
h1{
    text-align: center;
}
.table{

    margin-left: auto;
    margin-right: auto;
}
.table th, .table td { 
    text-align: left; 
    padding: 6px 3px; 
    border-bottom: 1px solid var(--color-border);
}
.table th{
    background-color: rgb(55, 55, 151);
    color: #fff;
}
.table td{
    background-color: #fff;
}
.btn-a{
    margin-top: 10px;
    margin-left: 1050px;
}
button{
    margin-right: 20px;
    margin-bottom: 20px;
}
.form{
    margin-left: 500px;
    background-color: aliceblue;
    border-radius: 1px solid;
}
label{
    font-size: 12px;
}